#container {
	flex-wrap: wrap; 
	position: absolute;
	transform: translate(1%, 10%);
	width: 1000px;
	height: 500px;
	display: inline-block;
}

.inside	{
	display: flex;
	flex-wrap: wrap;
}

.menu-bar	{
	border: 1px brown solid;
	width: 150px;
	height: 500px;
	display: inline-block;
	margin-top: 50px;
}

.grid {
	margin:0;
	padding:0;
	border:none;
	flex-wrap: wrap;
    display: flex;
    width: 50px;
	height: 50px;
	position: relative;
}

.sky    {
    background-color: lightblue;
}

.topGround {
	background-image: url(https://bit.ly/2sH1gAb);
	background-size: cover;
    background-repeat: no-repeat;
}

.tree {
	background-image: url(https://lh3.googleusercontent.com/2kow41nkAtt3Df2SkCxBZLEZCsrM4Z15gmr7BcUl1Je0yz7p5aNXy45itCjYW22MkCjTdQt1Qd-oms9_c__mo_s=s400);
	background-size: cover;
    background-repeat: no-repeat;
}

.trunk	{
	background-image: url(https://i.pinimg.com/originals/be/97/7a/be977af618e7d4fede2cbd7ccc8975dc.jpg);
	background-size: cover;
    background-repeat: no-repeat;
}

.lowerGround	{
	background-image: url(https://tr.rbxcdn.com/a79f56b0e6fca7b65c5296f2775906bc/420/420/Decal/Png);
	background-size: cover;
    background-repeat: no-repeat;
}

.shovel	{
	background-image: url(https://ae01.alicdn.com/kf/HTB1qH.wkjuhSKJjSspmq6AQDpXa3/1pcs-Minecraft-Toys-Minecraft-Foam-Weapons-Sword-Axe-Shovel-Gun-EVA-Model-Toys-Action-Figure-Toy.jpg_640x640.jpg);
	background-size: cover;
    background-repeat: no-repeat;
}

.axe	{
	background-image: url(https://gamepedia.cursecdn.com/minecraft_gamepedia/1/11/Wooden_Axe.png);
	background-size: cover;
    background-repeat: no-repeat;
}

.pick-axe	{
	background-image: url(https://cdn.shopify.com/s/files/1/0251/2155/4510/products/10852p_99c_1x_51f63dee-ed86-4bb6-8f90-c81543a9478f_2000x.jpg?v=1574871122);
	background-size: cover;
    background-repeat: no-repeat;
}

.borderHigh {
	box-shadow:0 0 0 5px rgb(112, 112, 112) inset;
}

.cloud	{
	background-color:#ffffff;
}

.rock	{
	background-image: url(https://art.pixilart.com/df108d01cd72892.png);
	background-size: cover;
    background-repeat: no-repeat;
}

.Btn	{
	width: 72px;
    height: 72px;
	color: aliceblue;
}

.tool-row	{
	padding-top: 10px;

}

.tool-text	{
	display: inline;
}

.text-just	{
	justify-content: center;
}



