body {
  cursor: pointer;
}
#container {
  flex-wrap: wrap;
  position: absolute;
  transform: translate(1%, 10%);
  width: 1000px;
  height: 500px;
  display: inline-block;
  font-family: "MinecraftiaRegular";
  font-weight: normal;
  font-style: normal;
}

.inside {
  display: flex;
  flex-wrap: wrap;
}

.menu-bar {
  border: 1px solid #aa96da;
  background-color: #11415d;
  opacity: 95%;
  width: 150px;
  height: 500px;
  display: none;
  margin-top: 50px;
}
.building {
  color: #ffffd2;
  text-align: center;
  font-family: "MinecraftiaRegular";
  /* font-size: 25px; */
  font-weight: normal;
  font-style: normal;
  margin-top: 25px;
}

.grid {
  margin: 0;
  padding: 0;
  border: none;
  flex-wrap: wrap;
  display: flex;
  width: 50px;
  height: 50px;
  position: relative;
}

.sky {
  background-color: lightblue;
}

.topGround {
  background-image: url(https://bit.ly/2sH1gAb);
  background-size: cover;
  background-repeat: no-repeat;
}

.tree {
  background-image: url(https://lh3.googleusercontent.com/2kow41nkAtt3Df2SkCxBZLEZCsrM4Z15gmr7BcUl1Je0yz7p5aNXy45itCjYW22MkCjTdQt1Qd-oms9_c__mo_s=s400);
  background-size: cover;
  background-repeat: no-repeat;
}

.trunk {
  background-image: url(https://i.pinimg.com/originals/be/97/7a/be977af618e7d4fede2cbd7ccc8975dc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.lowerGround {
  background-image: url(https://tr.rbxcdn.com/a79f56b0e6fca7b65c5296f2775906bc/420/420/Decal/Png);
  background-size: cover;
  background-repeat: no-repeat;
}

.shovel {
  background-image: url(http://www.rw-designer.com/icon-image/5541-256x256x32.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.axe {
  background-image: url(http://www.rw-designer.com/icon-image/5543-256x256x32.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.pick-axe {
  background-image: url(http://www.rw-designer.com/icon-image/5540-256x256x32.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.borderHigh {
  box-shadow: 0 0 0 5px rgb(112, 112, 112) inset;
}

.cloud {
  background-color: #ffffff;
}

.rock {
  background-image: url(https://art.pixilart.com/df108d01cd72892.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.Btn {
  width: 55px;
  height: 55px;
  font-size: 15px;
  font-family: "MinecraftiaRegular";
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.tool-row {
  padding-top: 15px;
  font-size: large;
}

.tool-text {
  display: inline;
  font-size: large;
}

.text-just {
  justify-content: center;
}

.overlay-screen {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
.overlay-page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.logo-span {
  width: 100%;
  height: 35vw;
}

#logo-img {
  max-width: 100%;
  height: auto;
  margin-top: 5%;
  transform: translateY(-5rem);
}

.overlay-btn {
  background-color: #1fab89;
  border-radius: 5px;
  height: 6rem;
  width: 25rem;
  color: #fff;
  font-family: "MinecraftiaRegular";
  font-size: 2rem;
  font-weight: 600;
}

.overlay-btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 salmon;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}
